<div class="header-container">
  <div class="row banner-section">
    <div class="col-2 text-right cursor-pointer">
      Download App
    </div>
    <div class="col-8 text-center cursor-pointer">
      Mid Year Sale on Gap upto 50%
    </div>
    <div class="col-2 cursor-pointer">
      Track Order
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light">
  <div class="container">
    <a href="#" class="navbar-brand">ABC Retail Store</a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <div class="navbar-nav">
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Men</a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Topwear</a>
            <a href="#" class="dropdown-item">Bottomwear</a>
            <a href="#" class="dropdown-item">Footwear</a>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Women</a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Topwear</a>
            <a href="#" class="dropdown-item">Bottomwear</a>
            <a href="#" class="dropdown-item">Footwear</a>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Kids</a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Topwear</a>
            <a href="#" class="dropdown-item">Bottomwear</a>
            <a href="#" class="dropdown-item">Footwear</a>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Brands</a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Arrow</a>
            <a href="#" class="dropdown-item">GAP</a>
            <a href="#" class="dropdown-item">Reebok</a>
          </div>
        </div>
      </div>
      <form class="d-flex">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <button type="button" class="btn btn-secondary"></button>
        </div>
      </form>
      <div class="navbar-nav">
        <a href="#" class="nav-item nav-link">Bag</a>
        <a href="#" class="nav-item nav-link">Login</a>
      </div>
    </div>
  </div>
</nav>
