<app-header></app-header>
<div class="container">
  <div class="carousel-section">
    <ngb-carousel [interval]="5000">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../assets/carousel/1.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../assets/carousel/2.jpg" alt="Angular Carousel 2">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../assets/carousel/3.gif" alt="Angular Carousel 2">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="new-arrivals-section mt-3">

    <h4 class="text-center mb-3">New Arrivals</h4>
    <div class="text-right">View All ></div>
    <ngb-carousel *ngIf="mobile">
      <ng-template ngbSlide *ngFor="let product of renderedProductList">
        <div class="row">
          <div class="col-xs-3 col-md-3 col-lg-3 col-sm-6">
            <img src="{{product.image}}" />
            <div class="mt-2 text-center text-bold">{{product.name}}</div>
            <div class="mt-2 text-center">{{product.description}}</div>
            <div class="text-center text-bold">Rs. {{product.price}}</div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>

    <ngb-carousel *ngIf="!mobile" [interval]="0">
      <ng-template ngbSlide *ngFor="let group of renderedProductList">
        <div class="induvidual-carousel-section" *ngFor="let product of group">
          <img src="{{product.image}}" />
          <div class="mt-2 text-center text-bold">{{product.name}}</div>
          <div class="mt-2 text-center">{{product.description}}</div>
          <div class="text-center text-bold">Rs. {{product.price}}</div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

</div>

<router-outlet></router-outlet>
